{
    "general": {
        "locale": "",
        "club_logo": [],
        "currency": "",
        "club_name": "",
        "financial_year_start": "",
        "financial_year_end": "",
        "club_email": "",
        "club_contact": "",
        "address": "",
        "country": "",
        "state": "",
        "city": "",
        "zip": ""
    },
    "invoice": {
        "prefix": "",
        "last_number": "",
        "name_type": ""
    },
    "member": {
        "prefix": "",
        "last_number": ""
    },
    "charges": {
        "admission_fee": "",
        "taxes": "",
        "discounts": []
    },
    "expenses": {
        "categories": []
    },
    "subscriptions": {
        "expiring_days": 7
    }
}
